[Unit]
Description=Auto (super) client service

[Service]
Restart=always
RestartSec=5
ExecStart=/home/byron/super/auto/auto --server=false

[Install]
WantedBy=multi-user.target