name: Server CI/CD

on:
  push:
    tags:
      - server.**

permissions:
  contents: write
  packages: write

env:
  REGISTRY: ghcr.io

jobs:
  docker-build:
    runs-on: ubuntu-latest

    steps:
      - name: Set up Docker
        uses: docker/setup-docker-action@v4
        with:
          daemon-config: |
            {
              "debug": true,
              "features": {
                "containerd-snapshotter": true
              }
            }

      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Github Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract version from ref_name
        shell: bash
        run: echo "VERSION=${GITHUB_REF_NAME#*.}" >> $GITHUB_ENV

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile.server
          platforms: linux/amd64,linux/arm64
          push: true
          labels: |
            org.opencontainers.image.source=${{ github.repository }}
          tags: |
            ${{ env.REGISTRY }}/${{ github.repository_owner }}/server:${{ env.VERSION }}
            ${{ env.REGISTRY }}/${{ github.repository_owner }}/server:latest